[submodule "distroless-php/dependency_resolve"]
	path = dependency_resolve
	url = https://github.com/distroless-php/dependency_resolve.git
	branch = main
[submodule "alpinelinux/aports"]
	path = third_party/alpinelinux/aports
	url = https://github.com/alpinelinux/aports.git
	branch = v3.20.1
[submodule "unicode-org/icu"]
	path = third_party/unicode-org/icu
	url = https://github.com/unicode-org/icu.git
	branch = release-75-1
[submodule "GNOME/libxml2"]
	path = third_party/GNOME/libxml2
	url = https://github.com/GNOME/libxml2.git
	branch = v2.13.1
[submodule "php/php-src"]
	path = third_party/php/php-src
	url = https://github.com/php/php-src.git
	branch = php-8.3.10

